# Sandbox

In [1]:
# Standard Datascience initialization code plus Pandas.
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import numpy as np
import scipy.stats as stats
from endplay import *

import import_ipynb
from endplay.types import Deal
from bc_functions import *
from bc_bids import * ;

 The North hand has total points = 16

 The North hand is a 2-suiter :  {'ts': True, 'p': 'Hearts', 's': 'Spades'}
              AJ98
              AJ985
              KJ4
              5
Q754                        K2
KT3                         74
Q983                        A765
J2                          K9743
              T63
              Q62
              T2
              AQT86

In [2]:
d2 = generate_deal('hcp(north) >= 5 && shape(north, any 4xxx + 65xx + any 75xx + any 7xxx + any 8xxx)')
hand = d2.north
d2.pprint()
# print('\n The North hand has total points =' , points_rs(hand))
# print(' The North hand is a 2-suiter: ', twosuiter(hand))
# temp = make_bid_table(hand)
# temp.sort(4, True)
hand.pprint()
twosuiter(hand)

              J95
              6532
              AJ
              K853
T                           AQ763
AT7                         KQ84
K5                          Q43
AQJT974                     6
              K842
              J9
              T98762
              2
♠ J95
♥ 6532
♦ AJ
♣ K853

{'ts': False, 'p': 'Clubs', 's': 'Hearts'}

In [3]:
h5 = Hand('J.KQ986.K42.9732')
h1 = Hand('K8.QJ84.AQT52.52')
print('Points = ', points_rs(h1), '\n    Rule of 20?', rule20(h1))
h1.pprint()
make_bid_table(h1)

Points =  13
    Rule of 20? True
♠ K8
♥ QJ84
♦ AQT52
♣ 52

Suit     | Length | HCP  | Controls | Bid Quality
Spades   | 2      | 3    | 2        | 2.3
Hearts   | 4      | 3    | 0        | 4.3
Diamonds | 5      | 6    | 0        | 5.6
Clubs    | 2      | 0    | 0        | 2

In [4]:
h2 = Hand('KT87.AQ987.KJ95.')
print('Points = ', points_rs(h2), '\n    Rule of 20?', rule20(h2))
h2.pprint()
make_bid_table(h2)

Points =  16
    Rule of 20? True
♠ KT87
♥ AQ987
♦ KJ95
♣

Suit     | Length | HCP  | Controls | Bid Quality
Spades   | 4      | 3    | 0        | 4.3
Hearts   | 5      | 6    | 0        | 5.6
Diamonds | 4      | 4    | 0        | 4.4
Clubs    | 0      | 0    | 1        | 0

In [5]:
h3 = Hand('J74.AQ93.KQ72.42')
print('Points = ', points_rs(h3), '\n    Rule of 20?', rule20(h3))
h3.pprint()
make_bid_table(h3)

Points =  12
    Rule of 20? True
♠ J74
♥ AQ93
♦ KQ72
♣ 42

Suit     | Length | HCP  | Controls | Bid Quality
Spades   | 3      | 1    | 0        | 3.1
Hearts   | 4      | 6    | 0        | 4.6
Diamonds | 4      | 5    | 0        | 4.5
Clubs    | 2      | 0    | 0        | 2

In [6]:
h4 = Hand('3.Q8.AT97653.AK2')
print('Points = ', points_rs(h4), '\n    Rule of 20?', rule20(h4))
h4.pprint()
make_bid_table(h4)

Points =  17
    Rule of 20? True
♠ 3
♥ Q8
♦ AT97653
♣ AK2

Suit     | Length | HCP  | Controls | Bid Quality
Spades   | 1      | 0    | 2        | 1
Hearts   | 2      | 2    | 0        | 2.2
Diamonds | 7      | 4    | 0        | 7.4
Clubs    | 3      | 7    | 0        | 3.7

In [7]:
h5 = Hand('J.KQ986.K42.9732')
print('Points = ', points_rs(h5), '\n    Rule of 20?', rule20(h5))
h5.pprint()
make_bid_table(h5)

Points =  11
    Rule of 20? False
♠ J
♥ KQ986
♦ K42
♣ 9732

Suit     | Length | HCP  | Controls | Bid Quality
Spades   | 1      | 1    | 0        | 1.1
Hearts   | 5      | 5    | 0        | 5.5
Diamonds | 3      | 3    | 0        | 3.3
Clubs    | 4      | 0    | 0        | 4